{% extends "base.html" %} 

{%block content %} 

{% include "handyman/include/header.html" %}

<div class="main-container">
      <div class="main">
        <div class="about-block">
          <h1>О нас</h1>
          <div class="about-text">
          <p>
            "HandyMan" — это удобный онлайн-сервис для быстрого поиска
            квалифицированных мастеров различных специальностей, готовых помочь
            с решением бытовых проблем. Наша платформа объединяет лучших
            специалистов в таких областях, как электрика, сантехника, ремонт
            бытовой техники, и многие другие, предоставляя вам возможность легко
            и быстро найти надежного профессионала.
          </p>
          <p>
            Независимо от того, нужна ли вам помощь в экстренной ситуации или
            планируется плановый ремонт, "HandyMan" позволяет выбрать мастера,
            исходя из его квалификации, отзывов, стоимости услуг и примеров
            выполненных работ.
          </p>
          <p>
            Мы обеспечиваем прозрачность и безопасность взаимодействия: только
            зарегистрированные пользователи получают доступ к контактным данным
            мастеров, а процесс подачи заявки на выполнение работ — быстрый и
            удобный.
          </p>
          <p>
            Наши преимущества: 
            <ul>
                <li>Широкий выбор специалистов по различным видам услуг</li>
                <li>Честные отзывы и рейтинги мастеров.</li>
                <li>Возможность просмотра примеров выполненных работ.</li>
                <li>Простой и удобный интерфейс для поиска и подачи заявок.</li>
                <li>Полная адаптивность под мобильные устройства.</li>
            </ul>
        
          </p>
          <p>
            "HandyMan" — ваш надежный помощник в поиске квалифицированных
            специалистов на дом!
          </p>
          </div>
        </div>
      </div>
    </div>

{% include "handyman/include/footer.html" %} 

{% endblock content %}
