@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joti+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.header-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 1000px;
}
.header-container .header a {
  color: #333;
  text-decoration: none;
}
.header-container .header .header-logo {
  font-family: "Joti One", serif;
  font-size: 30px;
  text-decoration: none;
}
.header-container .header .header-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  margin-top: 60px;
}
.footer-container .footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1000px;
  margin: 20px 0;
  padding: 20px 30px;
  background-color: #232A34;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  gap: 20px;
}
.footer-container .footer .footer-block h2, .footer-container .footer .footer-block h3 {
  color: #fff;
  font-weight: 700;
}
.footer-container .footer .footer-block h2 {
  font-size: 32px;
}
.footer-container .footer .footer-block h3 {
  font-size: 24px;
}
.footer-container .footer .footer-block ul {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer-container .footer .footer-block ul.mt-20 li:last-child {
  margin-top: 10px;
}
.footer-container .footer .footer-block ul.grid-ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-container .footer .footer-block ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: color 0.1s ease-out;
}
.footer-container .footer .footer-block ul li a:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.9);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.main-container .main {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  flex-direction: column;
  width: 1000px;
}
.main-container .main .main-block {
  margin-top: 60px;
  width: 100%;
}
.main-container .main .main-block h2 {
  font-size: 24px;
  color: #333;
}
.main-container .main .main-block .grid-block {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.main-container .main .main-block .grid-block .card {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  color: #14151B;
  padding: 10px;
  display: flex;
}
.main-container .main .main-block .grid-block .card img {
  width: 100px;
  max-height: auto;
}
.main-container .main .main-block .grid-block .card .card-text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main-container .main .main-block .grid-block .card .card-text h3 {
  font-size: 20px;
}
.main-container .main .main-block .grid-block .card .card-text ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.form-container {
  width: 100svw;
  height: 100svh;
}
.form-container form {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-container form h1 {
  font-size: 36px;
  font-weight: 700;
  color: #232A34;
  align-self: center;
}
.form-container form input {
  width: 350px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #111;
  padding: 0 15px;
}
.form-container form input[type=text], .form-container form input[type=password] {
  background-color: #E6E6E6;
}
.form-container form input[type=submit] {
  background-color: #232A34;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.form-container form input[type=submit]:hover {
  background-color: #ffffff;
  color: #232A34;
  border: 2px solid #232A34;
}
.form-container form .link-block a {
  color: #232A34;
  font-size: 12px;
  text-decoration: none;
}
.form-container form .link-block a:first-child {
  color: #3763FF;
}
.form-container form .link-block a.right {
  float: right;
}
.form-container form .link-block a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
