.feedback
    display: flex
    flex-direction: column

    @media screen and (min-width: 480px)
        margin-top: 20px

    @media screen and (min-width: 768px)
        margin-top: 40px

    @media screen and (min-width: 992px)
        margin-top: 60px

    &-info
        h1
            font-size: 24px
            color: $translucent

            @media screen and (min-width: 480px)
                font-size: 28px
                text-align: center

            @media screen and (min-width: 768px)
                font-size: 24px
                text-align: left

        .text
            margin-top: 30px
            text-align: right
            display: flex
            flex-direction: column
            gap: 10px
            font-size: 20px

            p
                max-width: 700px
                align-self: flex-end

                &.error
                    color: red
                    font-weight: 600

            button
                @include button(350px, 50px)

                @media screen and (min-width: 480px)
                    align-self: center

                @media screen and (min-width: 768px)
                    align-self: flex-start

    ul
        margin-top: 60px
        display: grid
        gap: 20px
        justify-items: center

        @media screen and (min-width: 480px)
            grid-template-columns: repeat(1, 1fr)

        @media screen and (min-width: 768px)
            grid-template-columns: repeat(2, 1fr)

        @media screen and (min-width: 992px)
            grid-template-columns: repeat(3, 1fr)

        li
            padding: 10px
            @include shadow(False)
            @include border-radius(5px)
            display: flex
            flex-direction: column
            gap: 10px
            min-width: 300px

            .feedback-head
                display: flex
                gap: 15px

                img
                    @include img(50px, 50px)
                    @include border-radius(5px)

                .userinfo
                    display: flex
                    flex-direction: column
                    width: 100%

                    h2
                        font-weight: 600

                    p
                        align-self: flex-end
                        margin-top: auto
                        color: $translucent
                        text-align: left

            .feedback-body
                flex: 1

                p
                    word-wrap: break-word
                    white-space: pre-wrap
                    max-width: 100%

            .feedback-foot
                display: flex
                align-items: center
                justify-content: center

                button
                    @include button(300px, 40px)
