{% extends "base.html" %}

{% block content %}

    {% include "handyman/include/header.html" %}

    <div class="main-container">
        <div class="main">
            <!-- about -->
            <div class="about-block">
                <h1>О нас</h1>
                <div class="about-text">
                    <p>
                        <span>HandyMan</span> — это удобный онлайн-сервис для быстрого
                        поиска квалифицированных мастеров различных специальностей,
                        готовых помочь с решением бытовых проблем. Наша платформа
                        объединяет лучших специалистов в таких областях, как электрика,
                        сантехника, ремонт бытовой техники, и многие другие, предоставляя
                        вам возможность легко и быстро найти надежного профессионала.
                    </p>
                    <p>
                        Независимо от того, нужна ли вам помощь в экстренной ситуации или
                        планируется плановый ремонт, <span>HandyMan</span> позволяет
                        выбрать мастера, каждый из которых имеет опыт работы с сотнями
                        клиентов и с большим портфолио.
                    </p>
                    <p>
                        Наши офисы расположенны в каждом районе Самары, но и за городом мы
                        всегда готовы прийти на помощь, вне зависимости от ситуации в
                        которую вы попали.
                    </p>
                    <p>
                        Наша компания на рынке уже больше 10 лет и мы готовы предоставялть
                        любые гарантии качества нашей работы. Десятки тысяц выполненых
                        заказов и сотни заказов каждый день в нашей компании не дадут
                        соврать о качесве нашего сервиса
                    </p>
                    <h3>Наши преимущества перед конкурентами:</h3>
                    <ul>
                        <li>
                            <span>Быстрота реагирования:</span> всего 30 минут и мастер
                            прибудет к вам.
                        </li>
                        <li>
                            <span>Бесплатный вызов:</span> даже если вам требуется только
                            консультация - вызов совершенно бесплатный.
                        </li>
                        <li>
                            <span>Никакой доплаты за расстояние:</span>
                            даже если вы за 10 километров от города, то мастер все равно
                            сделает свое дело.
                        </li>
                        <li>
                            <span> Есть комплексные заказы:</span>
                            если вам требуется 5 мастеров сразу, вы можете позвонить нам и
                            вы получите всех нужных специалистов вовремя.
                        </li>
                        <li>
                            <span>Низкие цены:</span>
                            наши предложения одни из самых низких на рынке.
                        </li>
                        <li>
                            <span> Постоянные акции:</span>
                            зайдите на наш сайт и мы даем гарантию, что будет действовать
                            акция на вызов мастера.
                        </li>
                    </ul>
                    <p>
                        <span>HandyMan</span>
                        — ваш надежный помощник в поиске квалифицированных специалистов на
                        дом!
                    </p>
                </div>
            </div>

            <!-- about -->
        </div>
    </div>

    {% include "handyman/include/footer.html" %}

{% endblock content %}
