{% extends "base.html" %} 
{% block content %}

{% include "handyman/include/header.html" %}

<div class="main-container">
      <div class="main">
        <div class="main-text">
           <h2>
              <span>Handyman</span> - Ваш надежный помощник по вызову мастера на
              дом
            </h2>
          <img src="https://placehold.co/800x300" alt="" />
           
            <p>
              Добро пожаловать в Handyman! Мы предлагаем широкий спектр услуг по
              вызову мастеров на дом, чтобы решить любые ваши бытовые проблемы. <br><br>
              Наша команда профессионалов включает: 
              <ul>
                <li><span>Сантехники</span>: быстро устранят
              протечки и установят новое оборудование.</li>
                <li><span>Электрики</span>: обеспечат
              безопасность и комфорт с качественным ремонтом электропроводки.</li>
                <li><span>Столяры и плотники</span>: создадут уникальные изделия на заказ и
              выполнят любые работы с деревом.</li>
                <li><span>Слесари</span>: помогут с ремонтом и
              обслуживанием металлических конструкций.</li>
                <li><span>Мебельщики</span>: соберут и
              отремонтируют вашу мебель, сделают ее функциональной и красивой.</li>
                <li><span>Маляры</span>: преобразят ваш интерьер с помощью качественной покраски и
              отделки. </li>
                <li><span>Универсальные мастера</span>: решат множество задач, от мелкого
              ремонта до комплексных проектов.</li>
              </ul>
               
              <br>
               Мы гарантируем высокое качество
              услуг, оперативность и индивидуальный подход к каждому клиенту.
              Обратитесь к нам, и мы сделаем ваш дом комфортнее!
            </p>
        </div>

        <div class="main-block">
          <h2>Наши лучшие мастера</h2>

          <div class="grid-block">
            {% for master in masters %}
              <div 
              class="card" 
              onclick="document.location.href='links/master.html'"
              >
              <img src="https://placehold.co/150x150" alt="" />
              <div class="card-text">
                <h3>{{ master.name }}</h3>
                <ul>
                  <li>{{master.skill}}</li>
                  <li>От {{master.salary}} руб</li>
                  <li>Отценка: {{master.grade}}\10</li>
                </ul>
              </div>
            </div>
            {% endfor %}
            
          </div>
          <button onclick="document.location.href='links/masters.html'">Все мастера</button>
        </div>
      </div>
    </div>

    {% include "handyman/include/footer.html" %} 
    {% endblock content %}
  </div>
</div>
