{% load custom_tags %}

<div class="footer-container">
    <div class="footer">
        <div class="footer-block">
            <h2>HandyMan</h2>
            <ul class="mt-20">
                <li>Разработал Пименов А.Е.</li>
                <li>Студент КС ПГУТИ</li>
                <li>Группы 4ИСПВ-1</li>
                <li>
                    <a href="https://github.com/binido/Course-work">GitHub проекта</a>
                </li>
                <li>
                    <span>&copy;</span> 2024 HandyMan. Проект с открытым исходным кодом
                </li>
            </ul>
        </div>
        <div class="footer-block">
            <h3>Мастера</h3>
            <ul class="grid-ul">
                {% get_all_skills as skills %}
                {% for skill in skills %}
                    <li><a href="{% url 'masters_type' skill.slug %}">{{ skill.cat_name }}</a></li>
                {% empty %}
                    <li>Нет доступных мастеров</li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer-block">
            <h3>Навигация</h3>
            <ul>
                <li><a href="{% url 'contacts' %}">Контакты</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'feedbacks' %}">Отзывы</a></li>
            </ul>
        </div>
    </div>
</div>
