{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
    {% include "handyman/include/header.html" %}

    <div class="main-container">
        <div class="main">
            <div class="info-block">
                {% if master.image %}
                    <img src="{{ master.image.url }}" alt="{{ master.name }}" loading="lazy"/>
                {% else %}
                    <img src="https://placehold.co/200x200" alt="Изображение отсутствует"/>
                {% endif %}
                <div class="info-text">
                    <h1>{{ master.name }}</h1>
                    <p><a
                            href="{% url 'masters_type' master.skill.slug %}"><span>{{ master.skill.name }}</span></a>
                    </p>
                    <p>Стаж: <span>{{ master.experience }}</span></p>
                    <p>Район: <span>{{ master.workarea }}</span></p>
                    <p>Статус: <span>{{ master.get_status }}</span></p>
                </div>
            </div>

            <!-- info -->
            <div class="info info-content">
                <h1>Описание</h1>
                <div class="content">
                    <p>
                        <span>{{ master.name }}</span> — опытный мастер с более чем
                        <span>{{ master.experience }}</span>-летним стажем работы в сфере ремонта и бытовых
                        услуг. Район работы — <span>{{ master.workarea.name }}</span>. Он - это
                        профессиональный специалист, который не боиться трудностей. Благодаря профессиональному подходу
                        и
                        высокой ответственности, <span>{{ master.name }}</span> зарекомендовал себя как
                        надежный и квалифицированный специалист.
                    </p>
                    <div class="services">
                        <h2>Услуги:</h2>
                        <ul>
                            {% for service in services %}
                                <li><b>{{ service.name }}</b>: {{ service.description }}</li>
                            {% empty %}
                                <li>Нет доступных услуг</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <p>
                        <span>{{ master.name }}</span> гарантирует качественное выполнение
                        работы в кратчайшие сроки и предлагает доступные цены на услуги.
                        Отзывы довольных клиентов подтверждают его профессионализм и
                        ответственный подход к каждой задаче.
                    </p>
                </div>
            </div>
            <!-- info -->

            {% if user|is_in_group:"admin" %}
                <!-- admin buttons -->
                <div class="admin-buttons">
                    <button type="button" onclick="location.href='{% url 'add_portfolio' master.id %}'">
                        Добавить изображение
                    </button>
                    {% if not master.portfolio_images.all %}
                        <button type="button" disabled>Удалить все</button>
                    {% else %}
                        <button type="button" onclick="location.href='{% url 'delete_portfolio' master.id %}'">Удалить
                            все
                        </button>
                    {% endif %}

                </div>
                <!-- admin buttons -->
            {% endif %}

            <div class="info info-content">
                <h1>Портфолио</h1>
                <div class="slider-block">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            {% for image in master.portfolio_images.all %}
                                <div class="swiper-slide">
                                    <img src="{{ image.image.url }}" alt="Портфолио {{ master.name }}"
                                         loading="lazy"
                                    >
                                </div>
                            {% empty %}
                                <div class="swiper-placeholder">
                                    <img src="{% static 'handyman/img/master/portfolioPlaceholder.png' %}"
                                         alt="master portfolio" loading="lazy"/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    {% include "handyman/include/footer.html" %}
{% endblock content %}
