{% extends "base.html" %}
{% block content %}
    {% include "handyman/include/header.html" %}

    <div class="main-container">
        <div class="main">
            <div class="main-block">
                <h2>{{ skill.cat_name }}</h2>

                <div class="grid-block">
                    {% for master in masters %}
                        <div class="card"
                             onclick="document.location.href='{{ master.get_absolute_url }}'">
                            {% if master.image %}
                                <img src="{{ master.image.url }}" alt="{{ master.name }}" style="border-radius: 5px"/>
                            {% else %}
                                <img src="https://placehold.co/150x150" alt="Изображение отсутствует"/>
                            {% endif %}
                            <div class="card-text">
                                <h3>{{ master.name }}</h3>
                                <ul>
                                    <li>{{ master.skill.name }}</li>
                                    <li>Лет опыта: {{ master.experience }}</li>
                                    <li>Район: {{ master.workarea }}</li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include "handyman/include/footer.html" %}
{% endblock content %}
