:root
    --swiper-pagination-color: #333

.slider-block
    width: 1000px
    height: 400px

    .swiper
        @include border-radius(5px)
        .swiper-slide
            img
                @include img(100%)
