.main-container
    @include container

    .main
        @include main-font
        flex-direction: column
        width: 1000px

        .main-block
            margin-top: 60px
            width: 100%

            h2
                font-size: 24px
                color: $main-color

            .grid-block
                margin-top: 40px
                display: grid
                grid-template-columns: repeat(3, 1fr)
                gap: 50px

                .card
                    @include shadow
                    color: $dark-grey
                    border-radius: 5px
                    padding: 10px
                    display: flex

                    img
                        width: 100px
                        max-height: auto

                    .card-text
                        margin-left: 20px
                        display: flex
                        flex-direction: column
                        justify-content: center
                        gap: 20px

                        h3
                            font-size: 20px

                        ul
                            display: flex
                            flex-direction: column
                            gap: 5px
                            font-size: 14px
