.main-container
    .main
        .info-block
            margin-top: 40px
            display: flex
            align-items: center
            gap: 30px
            @media screen and (min-width: 480px)
                flex-direction: column

            @media screen and (min-width: 768px)
                flex-direction: row

            img
                @include border-radius(5px)

                @media screen and (min-width: 480px)
                    @include img(300px, 300px)

                @media screen and (min-width: 768px)
                    @include img(200px, 200px)

            .info-text
                display: flex
                flex-direction: column
                gap: 15px

                h1
                    font-size: 24px
                    font-weight: 600
                    color: $translucent

                p
                    font-size: 24px
                    color: $dark-grey

                    span
                        color: $dark-blue
                        font-weight: 600

                    a
                        @include link($dark-blue)

        .info
            margin-top: 40px
            display: flex
            flex-direction: column

            h1
                font-size: 32px
                font-weight: 700
                color: $translucent

            &-content
                display: flex
                align-items: center
                gap: 1rem

                .content
                    display: flex
                    flex-direction: column
                    gap: 1rem
                    letter-spacing: .55px
                    line-height: 1.1

                    p
                        font-size: 18px
                        span
                            color: $dark-blue
                            font-weight: 600

                    .services
                        h2
                            font-size: 24px
                            font-weight: 600
                            color: $dark-blue

                        ul
                            list-style-type: ' - '
                            margin-top: 10px
                            margin-left: 1rem
                            font-size: 18px
                            display: flex
                            flex-direction: column
                            gap: 5px

                

        .swiper-placeholder
            img
                @include border-radius(5px)

                @media screen and (min-width: 320px)
                    @include img(300px, 150px)

                @media screen and (min-width: 480px)
                    @include img(400px, 200px)

                @media screen and (min-width: 620px)
                    @include img(600px, 300px)

                @media screen and (min-width: 768px)
                    @include img(700px, 350px)

                @media screen and (min-width: 992px)
                    @include img(900px, 450px)

                @media screen and (min-width: 1200px)
                    @include img(1000px, 500px)

        .admin-buttons
            display: flex
            width: 100%
            justify-content: space-evenly
            margin-top: 40px

            @media screen and (min-width: 480px)
                flex-direction: column
                gap: 20px
                align-items: center

            @media screen and (min-width: 768px)
                flex-direction: row

            button
                @include border-radius(5px)

                @media screen and (min-width: 480px)
                    @include button(300px, 50px)

                @media screen and (min-width: 992px)
                    @include button(350px, 50px)
