{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <div class="form">
            <h1>Вход в аккаунт</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}

                <!-- item: Username -->
                <div class="form-item">
                    <label for="username">Имя пользователя:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="form-error">
                    {% if form.username.errors %}
                        <p>{{ form.username.errors.0 }}</p>  <!-- Выводим первую ошибку, если есть -->
                    {% endif %}
                </div>

                <!-- item: Password -->
                <div class="form-item">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-error">
                    {% if form.password.errors %}
                        <p>{{ form.password.errors.0 }}</p>
                    {% endif %}
                </div>

                <input type="submit" value="Войти"/>
            </form>
            <div class="link-block">
                <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
            </div>
        </div>
    </div>
{% endblock %}
