{% extends "base.html" %}

{% load static %}
{% load custom_filters %}

{% block content %}
    {% include "handyman/include/header.html" %}

    <div class="main-container">
        <div class="main">
            <div class="account-container">
                <div class="account">
                    <h1>Личный кабинет</h1>


                    <div class="image-block">
                        {% if user|is_in_group:"admin" %}
                            <img src="{% static 'handyman/img/account/admin.png' %}" alt="{{ title }}"/>
                        {% elif user|is_in_group:"master" %}
                            <img src="{% static 'handyman/img/account/master.png' %}" alt="{{ title }}"/>
                        {% else %}
                            <img src="{% static 'handyman/img/account/user.png' %}" alt="{{ title }}"/>
                        {% endif %}
                        {#                        <div class="image-text">#}
                        {#                            <p>Размер для корректного отображения 512x512px</p>#}
                        {#                            <button>Загрузить</button>#}
                        {#                        </div>#}
                    </div>

                    <form action="">
                        <div class="form-item">
                            <label for="email">Email:</label>
                            <input type="text" name="email" value="{{ user.email }}" id="email" disabled/>
                        </div>
                        <div class="form-item">
                            <label for="login">Логин:</label>
                            <input type="text" name="login" value="{{ user.username }}" id="login" disabled/>
                        </div>
                        <div class="form-item">
                            <label for="rol">Роль:</label>
                            <input
                                    type="text" name="rol"
                                    value="{% if user.groups.all %}{{ user.groups.all|join:', ' }}
                                    {% else %}
                                    Нет ролей
                                    {% endif %}"
                                    id="rol"/>
                        </div>
                        <input type="button" value="Выйти" onclick="document.location.href='{% url 'logout' %}'"/>
                    </form>
                </div>

                {#                <div class="account">#}
                {#                    <h1>Присоединяйтесь к команде Handyman!</h1>#}
                {#                    <br/>#}
                {#                    <p>#}
                {#                        Вы ищете работу, где сможете проявить свои навыки и стать частью#}
                {#                        дружного коллектива? Handyman приглашает вас присоединиться к#}
                {#                        нашей команде профессионалов!#}
                {#                    </p>#}
                {#                    <br/>#}
                {#                    <p>Мы ищем мастеров различных специальностей:</p>#}
                {#                    <ul>#}
                {#                        <li>Сантехники</li>#}
                {#                        <li>Электрики</li>#}
                {#                        <li>Столяры и плотники</li>#}
                {#                        <li>Слесари</li>#}
                {#                        <li>Мебельщики</li>#}
                {#                        <li>Маляры</li>#}
                {#                        <li>Универсальные мастера</li>#}
                {#                    </ul>#}
                {#                    <br/>#}
                {#                    <p>#}
                {#                        Если вы обладаете опытом в одной из этих областей, цените качество#}
                {#                        работы и хотите развиваться в стабильной компании, мы будем рады#}
                {#                        видеть вас в нашей команде! Заполните форму ниже, чтобы подать#}
                {#                        заявку и начать новый этап своей карьеры с Handyman. Мы ждем#}
                {#                        именно вас!#}
                {#                    </p>#}
                {#                    <button type="button" onclick="document.location.href='apply.html'">Подать заявку</button>#}
                {#                </div>#}

                <div class="button-container">
                    {% if user|is_in_group:"master" %}
                        <button type="button" onclick="document.location.href='./accountPages/masterTasks.html'">Взять
                            заказ
                        </button>
                    {% endif %}
                </div>

                <div class="button-container">
                    {% if user|is_in_group:"admin" %}
                        <button type="button">Админ панель</button>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    {% include "handyman/include/footer.html" %}
{% endblock %}