{% extends "base.html" %}

{% block content %}
    {% include "handyman/include/header.html" %}

    <!-- main -->

    <div class="main-container">
        <div class="main">
            <div class="main-tasks">
                <h1>Заказы</h1>
                <!-- main-tasks-block -->
                <div class="main-tasks-block">
                    <h2>Не взяты</h2>
                    <div class="main-tasks-block-list">
                        <ul>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Взять</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Взять</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Взять</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Взять</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Взять</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- main-tasks-block -->

                <!-- main-tasks-block -->
                <div class="main-tasks-block">
                    <h2>Исполняются</h2>
                    <div class="main-tasks-block-list">
                        <ul>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Закрыть</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Закрыть</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Закрыть</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Закрыть</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Закрыть</button>
                            </li>
                            <li>
                                <h2>Слесарь</h2>
                                <p>Клиент: Иванов Иван</p>
                                <p>Номер: +7(999)999-99-99</p>
                                <p>Кировский район, улица Киевская, дом 11, кв 19</p>
                                <button type="button">Закрыть</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- main-tasks-block -->
            </div>
        </div>
    </div>

    <!-- main -->

    {% include "handyman/include/footer.html" %}
{% endblock %}