.main-container
    .main
        .account-container
            margin-top: 40px
            @include flex-center
            gap: 20px

            .button-container
                button
                    @include button(350px, 50px)
                    @include border-radius(5px)

            .account
                @include shadow
                @include border-radius(5px)
                width: min(800px, 95%)
                padding: 20px

                h1
                    font-size: 24px
                    font-weight: 600
                    color: $translucent

                .image-block
                    margin-top: 20px
                    display: flex
                    gap: 20px

                    @media screen and (min-width: 480px)
                        align-items: center
                        justify-content: center

                    img
                        @include img(150px)
                        @include border-radius(5px)
                        border: 2px solid $light-grey

                        @media screen and (min-width: 480px)
                            @include img(300px)

                form
                    margin-top: 45px
                    display: grid
                    gap: 20px
                    align-items: center
                    justify-content: center
                    align-items: center
                    justify-items: center

                    @media screen and (min-width: 480px)
                        grid-template-columns: 1fr

                    @media screen and (min-width: 768px)
                        grid-template-columns: repeat(2, 1fr)

                &>ul
                    display: flex
                    flex-direction: column
                    gap: 5px
                    margin-top: 10px

                    li
                        list-style: '- '
                        margin-left: 20px

                button
                    @include button(350px, 50px)
                    @include border-radius(5px)
                    margin-top: 30px
                    float: right

